.txt-red {
  color: #EE2A24;
  font-size: 12px;
  margin: 0;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  display: block;
  font-weight: bold;
  color: #003876;
  margin-bottom: 8px;
}

.label2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  display: block;
  font-weight: bold;
  color: #666;
  margin-bottom: 8px;
}

.input {
  border: 1px solid #ccc;
  background: #fcfcfc;
  border-radius: 0px !important;
  padding: 12px;
  color: #475569;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 38px;
}
.input:focus-visible {
  border: 1px solid #00aeef;
  outline: none;
}

.textarea {
  border: 1px solid #ccc;
  background: #fcfcfc;
  border-radius: 0px !important;
  padding: 12px;
  color: #475569;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0 !important;
}

/* .select {
  border: 1px solid #f4f4f4;
  background: #f9fafb;
  border-radius: 6px;
  padding: 0 12px;
  color: #475569;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 38px;
  z-index: 1000 !important;
} */

.css-13cymwt-control {
  border: 1px solid #cccccc !important;
  background: #fcfcfc !important;
  border-radius: 0px !important;
  padding: 0 3px;
  color: #475569 !important;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 38px;
}

.css-t3ipsp-control {
  border: 1px solid #ccc !important;
  background: #fcfcfc !important;
  border-radius: 0px !important;
  padding: 0 3px;
  color: #475569 !important;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 38px;
}

.css-1nmdiq5-menu {
  z-index: 1000 !important;
  position: absolute !important;
}

.css-1xc3v61-indicatorContainer {
  color: #475569 !important;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}